

<div class="card rounded-0 mb-0 px-2 py-1">
    <div class="card-header pb-1">
        <div class="card-title">
            <h4 class="mb-0"><i class="fa fa-check-circle" style="color: #00d82f;font-size: 20px;"></i> Verifikasi OTP Sukses!</h4>
        </div>
    </div>
    <p class="px-2">Masukan password baru anda!</p>
    <div class="card-content">
        <div class="card-body pt-1">
            <form asp-action="savepassword" asp-controller="forgot" method="post" id="createPassword" asp-antiforgery="true">

                <fieldset class="form-label-group">
                    <input type="password" name="Password" class="form-control" id="Password" placeholder="Password" required="">
                    <label for="user-password">Password</label>
                </fieldset>

                <fieldset class="form-label-group">
                    <input type="password" name="rePassword" class="form-control" id="user-confirm-password" placeholder="Confirm Password" required="">
                    <label for="user-confirm-password">Confirm Password</label>
                </fieldset>
                <div class="row pt-2">
                    <div class="col-12 col-md-6 mb-1">
                        <a asp-action="login" asp-controller="auth" class="btn btn-outline-primary btn-block px-0 waves-effect waves-light">Go Back to Login</a>
                    </div>
                    <div class="col-12 col-md-6 mb-1">
                        <button type="submit" class="btn btn-primary btn-block px-0 waves-effect waves-light">Save Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $.validator.addMethod("PasswordCombination", function (value, element) {
        return this.optional(element) || /^(?=.*[a-z])(?=.*[A-Z])[a-zA-Z\d](?=.*\d)/.test(value);
    }, 'Passwords contain uppercase, lowercase letters and numbers');

    $("#createPassword").validate({
        rules: {
            Password: { "required": true, "PasswordCombination": true, minlength: 6 },
            rePassword: {
                equalTo: "#Password"
            }
        },
        errorElement: "span"
    });
</script>