<section id="basic-buttons">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Filled</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <p>Bootstrap includes six predefined button styles, each serving its own semantic purpose.</p>
                                <!-- basic buttons -->
                                <button type="button" class="btn btn-primary mr-1 mb-1 waves-effect waves-light">Primary</button>
                                <button type="button" class="btn btn-success mr-1 mb-1 waves-effect waves-light">Success</button>
                                <button type="button" class="btn btn-info mr-1 mb-1 waves-effect waves-light">Info</button>
                                <button type="button" class="btn btn-warning mr-1 mb-1 waves-effect waves-light">Warning</button>
                                <button type="button" class="btn btn-danger mr-1 mb-1 waves-effect waves-light">Danger</button>
                                <button type="button" class="btn btn-light mr-1 mb-1 waves-effect waves-light">Light</button>
                                <button type="button" class="btn btn-dark mr-1 mb-1 waves-effect waves-light">Dark</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>