
@{
    ViewData["Title"] = "Button";
    Layout = "~/Areas/Docs/Views/Shared/_Layout.cshtml";
}

<partial name="_Filled"></partial>
<partial name="_FilledDisabled"></partial>
<partial name="_Outline"></partial>

<div class="card">
    <div class="card-header">
        <h4 id="buttons" class="card-title">Buttons</h4>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li>
                    <a data-action="collapse"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-content collapse show" aria-expanded="true">
        <div class="card-body">
            <p>
                Buttons include support for a handful of contextual variations, sizes, states, and more. Group a series of
                buttons together on a single line with the button group.<br>Read the official
                <a href="https://getbootstrap.com/docs/4.5/components/buttons/" target="_blank">Bootstrap Buttons Documentation</a>
                and
                <a href="https://getbootstrap.com/docs/4.5/components/button-group/" target="_blank">Bootstrap Button Group Documentation</a>
                for a full list of instructions and other options.
            </p>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Buttons options</th>
                            <th>Class</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Basic button</strong></td>
                            <td><code>.btn-{color}</code></td>
                            <td>
                                <p class="mb-0">Use this class along with <code>.btn</code> class for contextual classes.</p>
                                <p class="mb-0">color: {primary | secondary | success | danger | warning | info | dark}</p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Outline button</strong></td>
                            <td><code>.btn-outline-{color}</code></td>
                            <td>
                                <p class="mb-0">Use this class along with <code>.btn</code> class for outline or bordered buttons.</p>
                                <p class="mb-0">color: {primary | secondary | success | danger | warning | info | dark}</p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Flat button</strong></td>
                            <td><code>.btn-flat-{color}</code></td>
                            <td>
                                <p class="mb-0">Use this class along with <code>.btn</code> class for flat buttons.</p>
                                <p class="mb-0">color: {primary | secondary | success | danger | warning | info | dark}</p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Gradient button</strong></td>
                            <td><code>.btn-gradient-{color}</code></td>
                            <td>
                                <p class="mb-0">
                                    Use this class along with <code>.btn</code> class for gradient background colors for buttons.
                                </p>
                                <p class="mb-0">color: {primary | secondary | success | danger | warning | info | dark}</p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Relief button</strong></td>
                            <td><code>.btn-relief-{color}</code></td>
                            <td>
                                <p class="mb-0">Use this class along with <code>.btn</code> class for relief buttons.</p>
                                <p class="mb-0">color: {primary | secondary | success | danger | warning | info | dark}</p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Round button</strong></td>
                            <td><code>.round</code></td>
                            <td>Use this class for round button.</td>
                        </tr>
                        <tr>
                            <td><strong>Square button</strong></td>
                            <td><code>.square</code></td>
                            <td>Use this class for square button.</td>
                        </tr>
                        <tr>
                            <td><strong>Button with icon</strong></td>
                            <td>N/A</td>
                            <td>Just add icon before your button text for button with icons.</td>
                        </tr>
                        <tr>
                            <td><strong>Button with icon only</strong></td>
                            <td><code>.btn-icon</code></td>
                            <td>
                                <p class="mb-0">
                                    Use this class along with <code>.btn</code> class if you want only icon inside a button.
                                </p>
                                <p class="mb-0">
                                    <strong>
                                        Note: You can use <code>.btn-icon</code> only when you want icon without text in your
                                        button.
                                    </strong>
                                </p>
                                <p class="mb-0">You can also use <code>.rounded-circle</code> class for round button with icon only.</p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Button Size</strong></td>
                            <td><code>.btn-{size}</code></td>
                            <td>
                                <p class="mb-0">Use this class for different button sizes.</p>
                                <p class="mb-0">size: {sm | lg}</p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Button group</strong></td>
                            <td><code>.btn-group</code></td>
                            <td>Group a series of buttons together on a single line with the the help of this class.</td>
                        </tr>
                        <tr>
                            <td><strong>Button block</strong></td>
                            <td><code>.btn-block</code></td>
                            <td>Create block level buttons - those that span the full width of a parent.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="mt-1"><strong>Referrals :</strong></p>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Bootstrap Buttons</strong></td>
                            <td>
                                <a href="https://getbootstrap.com/docs/4.5/components/buttons/" target="_blank">https://getbootstrap.com/docs/4.5/components/buttons/</a>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Button Groups</strong></td>
                            <td>
                                <a href="https://getbootstrap.com/docs/4.5/components/button-group/" target="_blank">https://getbootstrap.com/docs/4.5/components/button-group/</a>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Template Page</strong></td>
                            <td>
                                <a href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-buttons.html" target="_blank">https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/component-buttons.html</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

