/*========================================================
        DARK LAYOUT
=========================================================*/
.dropzone {
  min-height : 250px;
  border : 2px dashed #3677B2;
  background : #F8F8F8;
}
    .dropzone .dz-message {
        font-size: 2rem;
        position: absolute;
        top: 0;
        width: 100%;
        height: 115px;
        margin: auto;
        color: #3677B2;
        text-align: center;
        bottom: 0;
    }
.dropzone .dz-message:before {
  content : '\e864';
  font-family : 'feather';
  font-size : 80px;
  position : absolute;
  top : 48px;
  width : 80px;
  height : 80px;
  display : inline-block;
  left : 50%;
  margin-left : -40px;
  line-height : 1;
  z-index : 2;
  color : #3677B2;
  text-indent : 0;
  font-weight : normal;
  -webkit-font-smoothing : antialiased;
}
.dropzone .dz-preview {
  background : transparent;
}
.dropzone .dz-preview .dz-error-mark, .dropzone .dz-preview .dz-success-mark {
  background-image : url('../../../images/dropzone/spritemap.png');
}
.dropzone .dz-preview .dz-error-message {
  min-width : 113px;
  top : 0;
  left : 0;
}
.dropzone .dz-preview .dz-remove {
  font-size : 1.1rem;
  color : #ff6666;
  line-height : 2rem;
}
.dropzone .dz-preview .dz-remove:before {
  content : '\e8f6';
  font-family : 'feather';
  display : inline-block;
  line-height : 1;
  z-index : 2;
  text-indent : 0;
  font-weight : normal;
  -webkit-font-smoothing : antialiased;
}
.dropzone .dz-preview .dz-remove:hover {
  text-decoration : none;
  color : #ff6666;
}

@media (max-width: 576px) {
  .dropzone .dz-message:before {
    top : 7.14rem;
  }
}