<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${specialfolder:folder=UserProfile}\app-name\logs\internal-nlog.log">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <!-- the targets to write to -->
  <targets>
    <!--<target xsi:type="File" name="otherFile-web" fileName="c:\logs\app-name\log-complete-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />-->
    <target name='jsonFile' type='File' fileName='${specialfolder:folder=UserProfile}\app-name\logs\${shortdate}.log'
               archiveEvery="Day"
               archiveNumbering="Date"
               archiveFileName="${specialfolder:folder=UserProfile}\app-name\logs\archive\${shortdate}.log"
               maxArchiveFiles="3"
               archiveDateFormat="yyyyMMdd">
      <layout type='JsonLayout'>
        <attribute name="timestamp" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fff}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="modul" layout="${var:module}"/>
        <attribute name="machine" layout="${machinename}"/>
        <attribute name="message" layout="${message}" />
      </layout>
    </target>
  </targets>
  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="jsonFile" />
  </rules>
</nlog>
