
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="alerts-with-icons">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Icon</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <p>Use a class <code>.alert-{color}</code> to quickly create a alert.</p>
                        <div class="alert alert-primary" role="alert">
                            <i class="feather icon-star mr-1 align-middle"></i>
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </span>
                        </div>
                        <div class="alert alert-warning" role="alert">
                            <i class="feather icon-star mr-1 align-middle"></i>
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </span>
                        </div>
                        <div class="alert alert-info" role="alert">
                            <i class="feather icon-star mr-1 align-middle"></i>
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </span>
                        </div>
                        <div class="alert alert-danger" role="alert">
                            <i class="feather icon-star mr-1 align-middle"></i>
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </span>
                        </div>

                        <code>
                            <pre>
                            &lt;div class="alert alert-danger" role="alert"&gt;
                            &lt;i class="feather icon-star mr-1 align-middle"&gt;&lt;/i&gt;
                            &lt;span&gt;
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    &lt;/span&gt;
                                &lt;/div&gt;
</pre>
                        </code>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

