@{
    string path = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
}
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a asp-action="index" asp-controller="dashboard" class="navbar-brand">
                    <div class="brand-logo" style="background:url(@Url.Content("~/images/logo/vuesax-logo.png")); background-position: -65px -54px;"></div>
                    <h2 class="brand-text mb-0">Your App</h2>
                </a>
            </li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="icon-disc"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="nav-item @(path == "dashboard"?"active":"")">
                <a asp-action="index" asp-controller="dashboard"><i class="feather icon-home"></i><span class="menu-title" data-i18n="Dashboard">Dashboard</span></a>
            </li>
            <li class=" navigation-header">
                <span>Components</span>
            </li>
            <li class="nav-item @(path == "button"?"active":"")">
                <a asp-action="index" asp-controller="button"><i class="feather icon-edit"></i><span class="menu-title" data-i18n="Ecommerce">Button</span></a>
            </li>
            <li class="nav-item @(path == "modals"?"active":"")">
                <a asp-action="index" asp-controller="modals"><i class="feather icon-pie-chart"></i><span class="menu-title" data-i18n="Ecommerce">Modal</span></a>
            </li>
            <li class=" nav-item">
                <a asp-action="index" asp-controller="alert"><i class="feather icon-upload"></i><span class="menu-title" data-i18n="Ecommerce">Alert</span></a>
            </li>
            <li class=" nav-item">
                <a asp-action="index" asp-controller="alert"><i class="feather icon-copy"></i><span class="menu-title" data-i18n="Ecommerce">Form</span></a>
                <ul class="menu-content">
                    <li>
                        <a asp-action="input" asp-controller="form"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="InputLeads-Input">Input</span></a>
                    </li>
                    <li>
                        <a asp-action="select" asp-controller="form"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="InputLeads-Upload">Select</span></a>
                    </li>
                    <li>
                        <a asp-action="radio" asp-controller="form"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="InputLeads-Upload">Radio &amp; Checkbox</span></a>
                    </li>
                    <li>
                        <a asp-action="datepicker" asp-controller="form"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="InputLeads-Upload">Datepicker</span></a>
                    </li>
                </ul>
            </li>
            <li class=" nav-item">
                <a asp-action="index" asp-controller="drodown"><i class="feather icon-box"></i><span class="menu-title" data-i18n="Ecommerce">Dropdown</span></a>
            </li>
            <li class=" nav-item">
                <a asp-action="index" asp-controller="table"><i class="feather icon-server"></i><span class="menu-title" data-i18n="Ecommerce">Table</span></a>
                <ul class="menu-content">
                    <li>
                        <a asp-action="bordered" asp-controller="table"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="InputLeads-Input">Bordered Table</span></a>
                    </li>
                    <li>
                        <a asp-action="animation" asp-controller="table"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="InputLeads-Upload">Table Hover Animation</span></a>
                    </li>
                    <li>
                        <a asp-action="striped" asp-controller="table"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="InputLeads-Upload">Striped rows</span></a>
                    </li>
                    <li>
                        <a asp-action="datatables" asp-controller="table"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="InputLeads-Upload">Datatables</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>