
@{
    ViewData["Title"] = "Modal";
    Layout = "~/Areas/Docs/Views/Shared/_Layout.cshtml";
}

<section id="modal-themes">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Modal Themes</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <p class="mb-1">
                            Use class <code>.bg-*</code> with your <code>.modal-header</code> to change theme of modal
                        </p>
                        <div class="row">
                            <div class="col-12">
                                <div class="modal-primary mr-1 mb-1 d-inline-block">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-toggle="modal" data-target="#primary">
                                        Primary
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade text-left" id="primary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel160" style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header bg-primary white">
                                                    <h5 class="modal-title" id="myModalLabel160">Primary Modal</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Tart lemon drops macaroon oat cake chocolate toffee chocolate bar icing. Pudding jelly beans
                                                    carrot cake pastry gummies cheesecake lollipop. I love cookie lollipop cake I love sweet
                                                    gummi
                                                    bears cupcake dessert.
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal">Accept</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-success mr-1 mb-1 d-inline-block">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-outline-success waves-effect waves-light" data-toggle="modal" data-target="#success">
                                        Success
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade text-left" id="success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel110" aria-hidden="true" style="display: none;">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header bg-success white">
                                                    <h5 class="modal-title" id="myModalLabel110">Success Modal</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Tart lemon drops macaroon oat cake chocolate toffee chocolate bar icing. Pudding jelly beans
                                                    carrot cake pastry gummies cheesecake lollipop. I love cookie lollipop cake I love sweet
                                                    gummi
                                                    bears cupcake dessert.
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success waves-effect waves-light" data-dismiss="modal">Accept</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-danger mr-1 mb-1 d-inline-block">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-outline-danger waves-effect waves-light" data-toggle="modal" data-target="#danger">
                                        Danger
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade text-left" id="danger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel120" aria-hidden="true" style="display: none;">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header bg-danger white">
                                                    <h5 class="modal-title" id="myModalLabel120">Danger Modal</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Tart lemon drops macaroon oat cake chocolate toffee chocolate bar icing. Pudding jelly beans
                                                    carrot cake pastry gummies cheesecake lollipop. I love cookie lollipop cake I love sweet
                                                    gummi
                                                    bears cupcake dessert.
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal">Accept</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-info mr-1 mb-1 d-inline-block">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-outline-info waves-effect waves-light" data-toggle="modal" data-target="#info">
                                        Info
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade text-left" id="info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel130" aria-hidden="true" style="display: none;">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header bg-info white">
                                                    <h5 class="modal-title" id="myModalLabel130">Info Modal</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Tart lemon drops macaroon oat cake chocolate toffee chocolate bar icing. Pudding jelly beans
                                                    carrot cake pastry gummies cheesecake lollipop. I love cookie lollipop cake I love sweet
                                                    gummi
                                                    bears cupcake dessert.
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-info waves-effect waves-light" data-dismiss="modal">Accept</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-warning mr-1 mb-1 d-inline-block">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-outline-warning waves-effect waves-light" data-toggle="modal" data-target="#warning">
                                        Warning
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade text-left" id="warning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel140" aria-hidden="true" style="display: none;">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header bg-warning white">
                                                    <h5 class="modal-title" id="myModalLabel140">Warning Modal</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Tart lemon drops macaroon oat cake chocolate toffee chocolate bar icing. Pudding jelly beans
                                                    carrot cake pastry gummies cheesecake lollipop. I love cookie lollipop cake I love sweet
                                                    gummi
                                                    bears cupcake dessert.
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-warning waves-effect waves-light" data-dismiss="modal">Accept</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-dark mr-1 mb-1 d-inline-block">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-outline-dark waves-effect waves-light" data-toggle="modal" data-target="#dark">
                                        Dark
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade text-left" id="dark" tabindex="-1" role="dialog" aria-labelledby="myModalLabel150" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header bg-dark white">
                                                    <h5 class="modal-title" id="myModalLabel150">Dark Modal</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Tart lemon drops macaroon oat cake chocolate toffee chocolate bar icing. Pudding jelly beans
                                                    carrot cake pastry gummies cheesecake lollipop. I love cookie lollipop cake I love sweet
                                                    gummi
                                                    bears cupcake dessert.
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-dark waves-effect waves-light" data-dismiss="modal">Accept</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

