
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div class="card bg-authentication rounded-0 mb-0">
    <div class="row m-0">
        <div class="col-lg-6 d-lg-block d-none text-center align-self-center">
            <img src="~/images/pages/forgot-password.png" alt="branding logo">
        </div>
        <div class="col-lg-6 col-12 p-0">
            <div class="card rounded-0 mb-0 px-2 py-1">
                <div class="card-header pb-1">
                    <div class="card-title">
                        <h4 class="mb-0">Recover your password</h4>
                    </div>
                </div>
                <p class="px-2 mb-0">Please enter your email address and we'll send you instructions on how to reset your password.</p>
                <div class="card-content">
                    <div class="card-body">
                        <form asp-action="reset" method="post" id="forgotPassword" asp-antiforgery="true">
                            <div class="form-label-group">
                                <input type="email" id="inputEmail" class="form-control" placeholder="Email" autocomplete="off" required>
                                <label for="inputEmail">Email</label>
                            </div>
                            <div class="float-md-left d-block mb-1">
                                <a asp-action="index" asp-controller="auth" class="btn btn-outline-primary btn-block px-75 waves-effect waves-light">Back to Login</a>
                            </div>
                            <div class="float-md-right d-block mb-1">
                                <button type="submit" class="btn btn-primary btn-block px-75 waves-effect waves-light">Recover Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section FooterScripts{
    <script>
        $('#forgotPassword').validate({
            rules: {
                email: {
                    required: true,
                    email : true
                }
            },
            errorElement: "span"
        });
    </script>
}