<div class="card-header pb-1">
    <div class="card-title">
        <h4 class="mb-0">Email Anda Terverifikasi</h4>
    </div>
</div>
<p class="px-2 mb-0">Kode verifikasi telah dikirimkan melalui email xxx@xxx.com</p>
<div class="card-content">
    <div class="card-body">
        <form asp-action="verify" method="post">
            <div class="form-label-group">
                <input type="text" id="inputEmail" class="form-control" placeholder="Password" required="">
                <label for="inputEmail">Password</label>
            </div>
            <div class="form-label-group">
                <input type="text" id="inputName" class="form-control" placeholder="Ulangi Password" required="">
                <label for="inputName">Ulangi Password</label>
            </div>
            <div class="d-block mb-1">
                <button class="btn btn-primary btn-block px-75 waves-effect waves-light">Simpan Password</button>
            </div>
        </form>
    </div>
</div>