
@{
    ViewData["Title"] = "Datepicker";
    Layout = "~/Areas/Docs/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4 id="date-time-picker" class="card-title">Date Range Picker</h4>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li>
                    <a data-action="collapse"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-content" aria-expanded="true">
        <div class="card-body">
            <p>
                Originally created for reports at <a href="https://www.improvely.com/" target="_blank">Improvely</a>, the Date Range Picker can be attached to any webpage element to pop up two calendars for selecting dates, times, or predefined ranges like "Last 30 Days".
    <br>Read the official
    <a href="https://www.daterangepicker.com/" target="_blank">Date Range Picker Documentation</a> for a full list of
    instructions and other options.
</p>
            <h6>1. Initialize the plugin by referencing the necessary files:</h6>
            <div class="prism-show-language"><div class="prism-show-language-label">Markup</div></div><pre class=" my-1 language-markup"><code class=" language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>script</span> <span class="token attr-name">src</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>https://cdn.jsdelivr.net/momentjs/latest/moment.min.js<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span><span class="token script language-javascript"></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>script</span><span class="token punctuation">&gt;</span></span><span class="token lf">
</span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>script</span> <span class="token attr-name">src</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span><span class="token script language-javascript"></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>script</span><span class="token punctuation">&gt;</span></span><span class="token lf">
</span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>link</span> <span class="token attr-name">rel</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>stylesheet<span class="token punctuation">"</span></span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>text/css<span class="token punctuation">"</span></span> <span class="token attr-name">href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span><span class="token lf">
</span></code></pre>
            <h6>2. Basic usage looks something like this:</h6>
            <div class="prism-show-language"><div class="prism-show-language-label">JavaScript</div></div><pre class=" my-1 language-javascript"><code class=" language-javascript"><span class="token function">$</span><span class="token punctuation">(</span><span class="token string">'input[name="dates"]'</span><span class="token punctuation">)</span><span class="token punctuation">.</span><span class="token function">daterangepicker</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">;</span></code></pre>
            <p class="mt-2">
                <strong>
                    Refer following links for detailed documentation, configuration options, methods and
                    examples:
                </strong>
            </p>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Date Range Picker Plugin Link</strong></td>
                            <td>
                                <a href="https://www.daterangepicker.com/" target="_blank">https://www.daterangepicker.com/</a>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Flatpickr Github Link</strong></td>
                            <td>
                                <a href="https://github.com/dangrossman/daterangepicker" target="_blank">https://github.com/dangrossman/daterangepicker</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 col-12 mb-1">
                <h5 class="text-bold-500">Simple Date Range Picker</h5>
                <form>
                    <input type="text" class="form-control" name="daterange" value="01/01/2018 - 01/15/2018" />
                </form>
            </div>
            <div class="col-md-6 col-12 mb-1">
                <h5 class="text-bold-500">Date Range Picker With Time</h5>
                <form>
                    <input type="text" class="form-control" name="datetimes" />
                </form>
            </div>
            <div class="col-md-6 col-12 mb-1">
                <h5 class="text-bold-500">Single Date Picker</h5>
                <form>
                    <input type="text" class="form-control" name="birthday" value="10/24/1984" />
                </form>
            </div>
            <div class="col-md-6 col-12 mb-1">
                <h5 class="text-bold-500">Predefined Date Ranges</h5>
                <form>
                    <div id="reportrange" style="background: #fff; cursor: pointer; padding: .7rem; border: 1px solid #D9D9D9; border-radius: 5px; width: 100%">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span></span> <i class="fa fa-caret-down"></i>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-12 mb-1">
                <h5 class="text-bold-500">Input Initially Empty</h5>
                <form>
                    <input type="text" class="form-control" name="datefilter" value="" />
                </form>
            </div>
        </div>
    </div>
</div>

@section HeaderScripts{
    <link rel="stylesheet" href="~/lib/daterangepicker/daterangepicker.min.css" />
}
@section FooterScripts{
    <script src="~/lib/daterangepicker/moment.min.js"></script>
    <script src="~/lib/daterangepicker/daterangepicker.min.js"></script>
    <script src="~/js/pages/datepicker.js"></script>
}