
@{
    ViewData["Title"] = "Radio & Checkbox";
    Layout = "~/Areas/Docs/Views/Shared/_Layout.cshtml";
}

<!-- Vuexy Radio Buttons start -->
<section class="vuexy-radio">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Vuexy Radio Buttons</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <p>To add a checkBox, we have the <code>.vs-radio-con</code> as a wrapper. Also use <code>.vs-radio</code> for better output.</p>
                        <ul class="list-unstyled mb-0">
                            <li class="d-inline-block mr-2">
                                <fieldset>
                                    <div class="vs-radio-con">
                                        <input type="radio" name="vueradio" checked value="false">
                                        <span class="vs-radio">
                                            <span class="vs-radio--border"></span>
                                            <span class="vs-radio--circle"></span>
                                        </span>
                                        <span class="">Active</span>
                                    </div>
                                </fieldset>
                            </li>
                            <li class="d-inline-block mr-2">
                                <fieldset>
                                    <div class="vs-radio-con">
                                        <input type="radio" name="vueradio" value="false">
                                        <span class="vs-radio">
                                            <span class="vs-radio--border"></span>
                                            <span class="vs-radio--circle"></span>
                                        </span>
                                        <span class="">Inactive</span>
                                    </div>
                                </fieldset>
                            </li>
                            <li class="d-inline-block mr-2">
                                <fieldset>
                                    <div class="vs-radio-con">
                                        <input type="radio" disabled="disabled" checked value="false">
                                        <span class="vs-radio">
                                            <span class="vs-radio--border"></span>
                                            <span class="vs-radio--circle"></span>
                                        </span>
                                        <span class="">Active - disabled</span>
                                    </div>
                                </fieldset>
                            </li>
                            <li class="d-inline-block">
                                <fieldset>
                                    <div class="vs-radio-con">
                                        <input type="radio" disabled="disabled" value="false">
                                        <span class="vs-radio">
                                            <span class="vs-radio--border"></span>
                                            <span class="vs-radio--circle"></span>
                                        </span>
                                        <span class="">Inactive - disabled</span>
                                    </div>
                                </fieldset>
                            </li>
                        </ul>
                        <h6>Example Code:</h6>
                        <pre><code class="language-html">
&lt;fieldset&gt;
    &lt;div class="vs-radio-con"&gt;
    &lt;input type="radio" name="vueradio" checked value="false"&gt;
        &lt;span class="vs-radio"&gt;
            &lt;span class="vs-radio--border"&gt;&lt;/span&gt;
            &lt;span class="vs-radio--circle"&gt;&lt;/span&gt;
        &lt;/span&gt;
        &lt;span class=""&gt;Active&lt;/span&gt;
    &lt;/div&gt;
&lt;/fieldset&gt;
</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Vuexy Radio Buttons end -->
<!-- Vuexy Radio Buttons Color start -->
<section class="vuexy-radio-color">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Color</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <p>To change the color of the radio use the <code>.vs-radio-{value}</code> for primary, success, danger, info, warning.</p>
                        <ul class="list-unstyled mb-0">
                            <li class="d-inline-block mr-2">
                                <fieldset>
                                    <div class="vs-radio-con">
                                        <input type="radio" name="radiocolor" checked value="false">
                                        <span class="vs-radio">
                                            <span class="vs-radio--border"></span>
                                            <span class="vs-radio--circle"></span>
                                        </span>
                                        <span class="">Primary (Default)</span>
                                    </div>
                                </fieldset>
                            </li>
                            <li class="d-inline-block mr-2">
                                <fieldset>
                                    <div class="vs-radio-con vs-radio-success">
                                        <input type="radio" name="radiocolor" value="false">
                                        <span class="vs-radio">
                                            <span class="vs-radio--border"></span>
                                            <span class="vs-radio--circle"></span>
                                        </span>
                                        <span class="">Success</span>
                                    </div>
                                </fieldset>
                            </li>
                            <li class="d-inline-block mr-2">
                                <fieldset>
                                    <div class="vs-radio-con vs-radio-danger">
                                        <input type="radio" name="radiocolor" value="false">
                                        <span class="vs-radio">
                                            <span class="vs-radio--border"></span>
                                            <span class="vs-radio--circle"></span>
                                        </span>
                                        <span class="">Danger</span>
                                    </div>
                                </fieldset>
                            </li>
                            <li class="d-inline-block mr-2">
                                <fieldset>
                                    <div class="vs-radio-con vs-radio-info">
                                        <input type="radio" name="radiocolor" value="false">
                                        <span class="vs-radio">
                                            <span class="vs-radio--border"></span>
                                            <span class="vs-radio--circle"></span>
                                        </span>
                                        <span class="">Info</span>
                                    </div>
                                </fieldset>
                            </li>
                            <li class="d-inline-block">
                                <fieldset>
                                    <div class="vs-radio-con vs-radio-warning">
                                        <input type="radio" name="radiocolor" value="false">
                                        <span class="vs-radio">
                                            <span class="vs-radio--border"></span>
                                            <span class="vs-radio--circle"></span>
                                        </span>
                                        <span class="">Warning</span>
                                    </div>
                                </fieldset>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Vuexy Radio Buttons Color end -->
<!-- Vuexy Radio Buttons Sizes start -->
<section class="vuexy-radio-size">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Vuexy Radio Buttons Sizes</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <p>To add a radio button with different sizes, we have the <code>.vs-radio-sm</code> and <code>.vs-radio-lg</code> for small and large Radio Buttons respectively. Add it alongwith <code>.vs-radio</code> class.</p>
                        <ul class="list-unstyled mb-0">
                            <li class="d-inline-block mr-2">
                                <fieldset>
                                    <div class="vs-radio-con vs-radio-primary">
                                        <input type="radio" name="vueradisize" value="false">
                                        <span class="vs-radio vs-radio-sm">
                                            <span class="vs-radio--border"></span>
                                            <span class="vs-radio--circle"></span>
                                        </span>
                                        <span class="">Small</span>
                                    </div>
                                </fieldset>
                            </li>
                            <li class="d-inline-block mr-2">
                                <fieldset>
                                    <div class="vs-radio-con vs-radio-primary">
                                        <input type="radio" name="vueradisize" value="false">
                                        <span class="vs-radio">
                                            <span class="vs-radio--border"></span>
                                            <span class="vs-radio--circle"></span>
                                        </span>
                                        <span class="">Default</span>
                                    </div>
                                </fieldset>
                            </li>
                            <li class="d-inline-block mr-2">
                                <fieldset>
                                    <div class="vs-radio-con vs-radio-primary">
                                        <input type="radio" name="vueradisize" value="false">
                                        <span class="vs-radio vs-radio-lg">
                                            <span class="vs-radio--border"></span>
                                            <span class="vs-radio--circle"></span>
                                        </span>
                                        <span class="">Large</span>
                                    </div>
                                </fieldset>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Vuexy Radio Buttons sizes end -->

<div class="card">
    <div class="card-header">
        <h4 id="radio" class="card-title">Radio</h4>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li>
                    <a data-action="collapse"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-content collapse show" aria-expanded="true">
        <div class="card-body">
            <p>Radios are used for selecting one option from many.</p>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Options</th>
                            <th>Class</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Basic Radio</strong></td>
                            <td>
                                <code>.form-check</code>, <code>.form-check-input</code>, <code>.form-check-label</code>
                            </td>
                            <td>
                                For basic radio, use <code>.form-check</code> class as a wrapper of
                                <code>.form-check-input</code> class with <code>input[type="radio"]</code> and
                                <code>.form-check-label</code> class with label element.
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Custom Radio</strong></td>
                            <td>
                                <code>.custom-control.custom-radio</code>, <code>.custom-control-input</code>,
                                <code>.custom-control-label</code>
                            </td>
                            <td>
                                For custom radio, use <code>.custom-control.custom-radio</code> classes as a wrapper of
                                <code>.custom-control-input</code> class with input element and
                                <code>.custom-control-label</code> class with label element.
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Colored Radio</strong></td>
                            <td><code>.custom-control-{color}</code></td>
                            <td>
                                Use this class along with <code>.custom-control.custom-checkbox</code> classes to change
                                color of checkbox.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="mt-2">
                <strong>
                    Refer following links for detailed documentation, configuration options, methods and
                    examples:
                </strong>
            </p>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Plugin Link</strong></td>
                            <td>
                                <a href="https://getbootstrap.com/docs/4.5/components/forms/#checkboxes-and-radios" target="_blank">https://getbootstrap.com/docs/4.5/components/forms/#checkboxes-and-radios</a>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Template Page</strong></td>
                            <td>
                                <a href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/form-radio.html" target="_blank">https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/form-radio.html</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Vuexy Checkbox start -->
<section class="vuexy-checkbox">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Vuexy Checkboxes</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <p>To add a checkBox, we have the <code>.vs-checkbox-con</code> as a wrapper. Also use <code>.vs-checkbox</code> for better output.</p>
                        <ul class="list-unstyled mb-0">
                            <li class="d-inline-block mr-2">
                                <fieldset>
                                    <div class="vs-checkbox-con vs-checkbox-primary">
                                        <input type="checkbox" checked value="false">
                                        <span class="vs-checkbox">
                                            <span class="vs-checkbox--check">
                                                <i class="vs-icon feather icon-check"></i>
                                            </span>
                                        </span>
                                        <span class="">Active</span>
                                    </div>
                                </fieldset>
                            </li>
                            <li class="d-inline-block mr-2">
                                <fieldset>
                                    <div class="vs-checkbox-con vs-checkbox-primary">
                                        <input type="checkbox" value="false">
                                        <span class="vs-checkbox">
                                            <span class="vs-checkbox--check">
                                                <i class="vs-icon feather icon-check"></i>
                                            </span>
                                        </span>
                                        <span class="">Inactive</span>
                                    </div>
                                </fieldset>
                            </li>
                            <li class="d-inline-block mr-2">
                                <fieldset>
                                    <div class="vs-checkbox-con vs-checkbox-primary">
                                        <input type="checkbox" disabled="disabled" checked value="false">
                                        <span class="vs-checkbox">
                                            <span class="vs-checkbox--check">
                                                <i class="vs-icon feather icon-check"></i>
                                            </span>
                                        </span>
                                        <span class="">Active - disabled</span>
                                    </div>
                                </fieldset>
                            </li>
                            <li class="d-inline-block">
                                <fieldset>
                                    <div class="vs-checkbox-con vs-checkbox-primary">
                                        <input type="checkbox" disabled="disabled" value="false">
                                        <span class="vs-checkbox">
                                            <span class="vs-checkbox--check">
                                                <i class="vs-icon feather icon-check"></i>
                                            </span>
                                        </span>
                                        <span class="">Inactive - disabled</span>
                                    </div>
                                </fieldset>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Vuexy Checkbox end -->
<!-- Vuexy Checkbox Color start -->
<section class="vuexy-checkbox-color">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Color</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <p>To change the color of the checkBox use the <code>.vs-checkbox-{value}</code> for primary, success, danger, info, warning.</p>
                        <ul class="list-unstyled mb-0">
                            <li class="d-inline-block mr-2">
                                <fieldset>
                                    <div class="vs-checkbox-con vs-checkbox-primary">
                                        <input type="checkbox" checked value="false">
                                        <span class="vs-checkbox">
                                            <span class="vs-checkbox--check">
                                                <i class="vs-icon feather icon-check"></i>
                                            </span>
                                        </span>
                                        <span class="">Primary</span>
                                    </div>
                                </fieldset>
                            </li>
                            <li class="d-inline-block mr-2">
                                <fieldset>
                                    <div class="vs-checkbox-con vs-checkbox-success">
                                        <input type="checkbox" checked value="false">
                                        <span class="vs-checkbox">
                                            <span class="vs-checkbox--check">
                                                <i class="vs-icon feather icon-check"></i>
                                            </span>
                                        </span>
                                        <span class="">Success</span>
                                    </div>
                                </fieldset>
                            </li>
                            <li class="d-inline-block mr-2">
                                <fieldset>
                                    <div class="vs-checkbox-con vs-checkbox-danger">
                                        <input type="checkbox" checked value="false">
                                        <span class="vs-checkbox">
                                            <span class="vs-checkbox--check">
                                                <i class="vs-icon feather icon-check"></i>
                                            </span>
                                        </span>
                                        <span class="">Danger</span>
                                    </div>
                                </fieldset>
                            </li>
                            <li class="d-inline-block mr-2">
                                <fieldset>
                                    <div class="vs-checkbox-con vs-checkbox-info">
                                        <input type="checkbox" checked value="false">
                                        <span class="vs-checkbox">
                                            <span class="vs-checkbox--check">
                                                <i class="vs-icon feather icon-check"></i>
                                            </span>
                                        </span>
                                        <span class="">Info</span>
                                    </div>
                                </fieldset>
                            </li>
                            <li class="d-inline-block">
                                <fieldset>
                                    <div class="vs-checkbox-con vs-checkbox-warning">
                                        <input type="checkbox" checked value="false">
                                        <span class="vs-checkbox">
                                            <span class="vs-checkbox--check">
                                                <i class="vs-icon feather icon-check"></i>
                                            </span>
                                        </span>
                                        <span class="">Warning</span>
                                    </div>
                                </fieldset>
                            </li>
                        </ul>
                        <h6>Example Code:</h6>
                        <pre><code class="language-html">
&lt;fieldset&gt;
    &lt;div class="vs-checkbox-con vs-checkbox-primary"&gt;
        &lt;input type="checkbox" checked value="false"&gt;
            &lt;span class="vs-checkbox"&gt;
                &lt;span class="vs-checkbox--check"&gt;
                    &lt;i class="vs-icon feather icon-check"&gt;&lt;/i&gt;
                &lt;/span&gt;
            &lt;/span&gt;
        &lt;span class=""&gt;Primary&lt;/span&gt;
    &lt;/div&gt;
&lt;/fieldset&gt;
</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Vuexy Checkbox Color end -->
<!-- Vuexy Checkbox Icon start -->
<section class="vuexy-checkbox-icon">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Change Icon</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <p>Use <code>.vs-icon</code> to change change the internal icon inside the checkbox.</p>
                        <ul class="list-unstyled mb-0">
                            <li class="d-inline-block mr-2">
                                <fieldset>
                                    <div class="vs-checkbox-con vs-checkbox-primary">
                                        <input type="checkbox" checked value="false">
                                        <span class="vs-checkbox">
                                            <span class="vs-checkbox--check">
                                                <i class="vs-icon feather icon-check"></i>
                                            </span>
                                        </span>
                                        <span class="">Primary</span>
                                    </div>
                                </fieldset>
                            </li>
                            <li class="d-inline-block mr-2">
                                <fieldset>
                                    <div class="vs-checkbox-con vs-checkbox-success">
                                        <input type="checkbox" checked value="false">
                                        <span class="vs-checkbox">
                                            <span class="vs-checkbox--check">
                                                <i class="vs-icon feather icon-message-square"></i>
                                            </span>
                                        </span>
                                        <span class="">Success</span>
                                    </div>
                                </fieldset>
                            </li>
                            <li class="d-inline-block mr-2">
                                <fieldset>
                                    <div class="vs-checkbox-con vs-checkbox-danger">
                                        <input type="checkbox" checked value="false">
                                        <span class="vs-checkbox">
                                            <span class="vs-checkbox--check">
                                                <i class="vs-icon feather icon-x"></i>
                                            </span>
                                        </span>
                                        <span class="">Danger</span>
                                    </div>
                                </fieldset>
                            </li>
                            <li class="d-inline-block mr-2">
                                <fieldset>
                                    <div class="vs-checkbox-con vs-checkbox-info">
                                        <input type="checkbox" checked value="false">
                                        <span class="vs-checkbox">
                                            <span class="vs-checkbox--check">
                                                <i class="vs-icon feather icon-paperclip"></i>
                                            </span>
                                        </span>
                                        <span class="">Info</span>
                                    </div>
                                </fieldset>
                            </li>
                            <li class="d-inline-block">
                                <fieldset>
                                    <div class="vs-checkbox-con vs-checkbox-warning">
                                        <input type="checkbox" checked value="false">
                                        <span class="vs-checkbox">
                                            <span class="vs-checkbox--check">
                                                <i class="vs-icon feather icon-bold"></i>
                                            </span>
                                        </span>
                                        <span class="">Warning</span>
                                    </div>
                                </fieldset>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Vuexy Checkbox icon end -->
<!-- Vuexy Checkbox Sizes start -->
<section class="vuexy-checkbox-sizes">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Vuexy Checkboxes Sizes</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <p>To add a checkBox with different sizes, we have the <code>.vs-checkbox-sm</code> and <code>.vs-checkbox-lg</code> for small and large checkboxes respectively. Add it alongwith <code>.vs-checkbox</code> class.</p>
                        <ul class="list-unstyled mb-0">
                            <li class="d-inline-block mr-2">
                                <fieldset>
                                    <div class="vs-checkbox-con vs-checkbox-primary">
                                        <input type="checkbox" value="false">
                                        <span class="vs-checkbox vs-checkbox-sm">
                                            <span class="vs-checkbox--check">
                                                <i class="vs-icon feather icon-check"></i>
                                            </span>
                                        </span>
                                        <span class="">Small</span>
                                    </div>
                                </fieldset>
                            </li>
                            <li class="d-inline-block mr-2">
                                <fieldset>
                                    <div class="vs-checkbox-con vs-checkbox-primary">
                                        <input type="checkbox" value="false">
                                        <span class="vs-checkbox">
                                            <span class="vs-checkbox--check">
                                                <i class="vs-icon feather icon-check"></i>
                                            </span>
                                        </span>
                                        <span class="">Default</span>
                                    </div>
                                </fieldset>
                            </li>
                            <li class="d-inline-block mr-2">
                                <fieldset>
                                    <div class="vs-checkbox-con vs-checkbox-primary">
                                        <input type="checkbox" checked value="false">
                                        <span class="vs-checkbox vs-checkbox-lg">
                                            <span class="vs-checkbox--check">
                                                <i class="vs-icon feather icon-check"></i>
                                            </span>
                                        </span>
                                        <span class="">Large</span>
                                    </div>
                                </fieldset>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Vuexy Checkbox Sizes end -->

<div class="card">
    <div class="card-header">
        <h4 id="checkbox" class="card-title">Checkbox</h4>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li>
                    <a data-action="collapse"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-content collapse show" aria-expanded="true">
        <div class="card-body">
            <p>Checkboxes are used for selecting one or several options in a list.</p>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Options</th>
                            <th>Class</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Basic Checkbox</strong></td>
                            <td>
                                <code>.form-check</code>, <code>.form-check-input</code>, <code>.form-check-label</code>
                            </td>
                            <td>
                                For basic checkbox, use <code>.form-check</code> class as a wrapper of
                                <code>.form-check-input</code> class with <code>input[type="checkbox"]</code> and
                                <code>.form-check-label</code> class with label element.
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Custom Checkbox</strong></td>
                            <td>
                                <code>.custom-control.custom-checkbox</code>, <code>.custom-control-input</code>,
                                <code>.custom-control-label</code>
                            </td>
                            <td>
                                For custom checkbox, use <code>.custom-control.custom-checkbox</code> classes as a wrapper
                                of <code>.custom-control-input</code> class with input element and
                                <code>.custom-control-label</code> class with label element.
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Colored Checkbox</strong></td>
                            <td><code>.custom-control-{color}</code></td>
                            <td>
                                Use this class along with <code>.custom-control.custom-checkbox</code> classes to change
                                color of checkbox.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="mt-2">
                <strong>
                    Refer following links for detailed documentation, configuration options, methods and
                    examples:
                </strong>
            </p>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Plugin Link</strong></td>
                            <td>
                                <a href="https://getbootstrap.com/docs/4.5/components/forms/#checkboxes-and-radios" target="_blank">https://getbootstrap.com/docs/4.5/components/forms/#checkboxes-and-radios</a>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Template Page</strong></td>
                            <td>
                                <a href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/form-checkbox.html" target="_blank">https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/form-checkbox.html</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section HeaderScripts{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css" integrity="sha512-tN7Ec6zAFaVSG3TpNAKtk4DOHNpSwKHxxrsiw4GHKESGPs5njn/0sMCUMl2svV4wo4BK/rCP7juYz+zx+l6oeQ==" crossorigin="anonymous" />
}

@section FooterScripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js" integrity="sha512-YBk7HhgDZvBxmtOfUdvX0z8IH2d10Hp3aEygaMNhtF8fSOvBZ16D/1bXZTJV6ndk/L/DlXxYStP8jrF77v2MIg==" crossorigin="anonymous"></script>
}